:root {
    --main-color: #2E2F42;
    --logo-color: #4D5AE5;
--second-color: #434455;
    --white: #FFF;
    --cloud: #F4F4FD;
    --cornflower:#E7E9FC;
    --lightslate: #8E8F99;
    --super-blue: #404BBF;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--second-color,#434455);
    background-color: #FFFFFF;
}



h1,
h2,
h3,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
} 
img {
    display: block;
}

    .link {
            text-decoration: none;
          }
    
    .list {
            list-style-type: none;
        } 


    .nav-menu {
        font-weight: 500;
        color: var(--main-color,#2E2F42);
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .link:hover {
        color: var(--super-blue);
    }
    .link:focus {
        color: var(--super-blue);
    }

    .logo {
            font-size: 18px;
            font-family: "Raleway", sans-serif;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--logo-color,#4D5AE5);
            font-weight: 800;                 
    }

    .highlight {
        color: var(--main-color);
    }
        .header-content {
            display: flex;
            align-items: center;
        }
        
        .accent {
            border-bottom: 1px solid var(--cornflower,#E7E9FC);
        }
        .menu {
            display: flex;
            align-items: center;
        }
         .logotype {
                margin-right: 76px;
         }
                                 .callout{
                                    padding: 24px 0;
                                 }
                                 .zero {
                                    margin-right: 0;
                                 }

         .menu-content {
                    display: inline-flex;
                        gap: 40px;
                 }
         .contacts-content {
            margin: 0 auto;
                 }
                 .inline {
                    display: flex;
                    gap: 40px;
                 }

    .adress-item {
        color: var(--second-color, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .h-address {
            font-style: normal;
        }

        .current {
            position: relative;
        }
        .current::after {
            content: "";
            position: absolute;
            width: 100%;
            border-radius: 2px;
            bottom: 0;
            left: 0;
            height: 4px;
            background-color: var(--super-blue);
        }
.solutions {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
 }

 .hero {
    flex-shrink: 0;
    padding: 188px 0;
 }
 
 .bttn {
min-width: 169px;
display: block;
height: 56px;
border: none;
background-color: var(--logo-color);
border-radius: 4px;
margin: 0 auto;
margin-top: 48px;
 }
      
     .eff-sol {
         color: var(--white, #FFF);
         text-align: center;
         font-size: 56px;
         line-height: 1.07;
         letter-spacing: 0.02em;
        max-width: 496px;
        cursor: pointer;
        margin: 0 auto;
        }
.click {
                background-color: #4D5AE5;
                cursor: pointer;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #ffffff;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.click:focus {
    background-color: var(--super-blue);
}

.click:hover {
    background-color: var(--super-blue);
}


  .section {  
        padding: 120px 0;
  }
  .third-section {
    padding-bottom: 120px;
  }

.features {
display: flex;
gap: 24px; 
} 
.element {
    width: calc((100% - 72px) / 4);
}
.points {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--main-color,#2E2F42);
}
.indent {
    margin-bottom: 8px;
}
.point-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-color,#434455);
}

.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color,#2E2F42);
    text-align: center;
}
.pict-title{
    margin-bottom: 72px; 
}
.cube {
    border-radius: 4px;
background: var(--cloud, #F4F4FD);
}
.icons-point {
   margin: 24px 100px
}


.illustration {
width: calc((100% - 48px) / 3);
}

.pictures {
display: flex;
gap: 24px;
}
.card {
    border-radius: 0px 0px 4px 4px;
background: var(--white, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
padding: 32px 16px;
}
.avatar{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team {
    background: var(--cloud, #F4F4FD);
    letter-spacing: 0.02em;
    color: var(--main-color,#2E2F42);
}

.ellipse {
    content: "";
display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ellipse:hover {
    background-color:var(--super-blue);
}
.ellipse:focus {
    background-color: var(--super-blue);
}

.center {
    text-align: center;
}
.member {
    background-color: #FFFFFF;
}
.customers{
    display: inline-flex;
    gap: 24px;
}
.emblem {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: var(--lightslate, #8E8F99);
        border: 1px solid var(--lightslate, #8E8F99);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.emblem-svg {
    fill: var(--lightslate, #8E8F99);
padding: 16px 32px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.emblem-link:is(:hover, :focus) .emblem-svg {
fill: var(--super-blue);
}
.emblem:hover {
    border-color: var(--super-blue);
    color: var(--super-blue);
}
.emblem:focus {
    border-color: var(--super-blue);
    color: var(--super-blue);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.down { 
    background: var(--main-color,#2E2F42);
    color: var(--cloud, #F4F4FD);
        line-height: 1.5;
        letter-spacing: 0.013em;
}
.down-cont {
    padding: 100px 0;
}

.down-logo {
    color: var(--cloud,#F4F4FD);
}
.footer-container { 
    display: flex;
    align-items: baseline;
}
.lp-cont {
    margin-right: 120px;
}


.social-media {
    display: flex;
    gap: 16px;
   
}
.mark {
    display: inline-block;
    margin-bottom: 16px;
}


.down-text {
        width: 264px;
        flex-direction: column;
        flex-shrink: 0;
}
.down-par {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--cloud,#F4F4FD);
}
.logo-cont {
    margin-right: 120px;
}
.social-media-tittle {
margin-bottom: 16px;
}

.icon-color {
    fill: var(--cloud);
}
.footer-media {
    content: "";
display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media:hover {
    background-color: #31D0AA;
}
.footer-media:focus {
    background-color: #31D0AA;
}
.portfolio-section {
    padding-top: 96px;
        padding-bottom: 120px;
}
.press {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color,#4D5AE5);
    background-color: var(--cloud,#F4F4FD);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.press:hover {
color: #FFFFFF;
background-color: #404BBF;
}
.press:focus {
color: #FFFFFF;
background-color: #404BBF;
}
.main-type {
    display: flex;
        gap: 24px;
        justify-content: center;
        margin-bottom: 72px;
}
.type-b {
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
}
.type-b:focus {
    border: 1px solid transparent;
}
.type-b:hover {
    border: 1px solid transparent;
}


.portfolio-pict {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.li-pict {
    width: calc((100% - 48px) / 3);
}
.pict-cont {
    position: relative;
        overflow: hidden;
}
.overlay-cover {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        background: var(--logo-color, #4D5AE5);
        color: var(--cloud, #F4F4FD);
       height: 100%;
       padding-top: 40px;
       padding-bottom: 164px;
       padding-left: 32px;
       padding-right: 32px;
       transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-pict:hover .overlay-cover {
    transform: translateY(0);
}

 .description {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
        border-top: none;
 }
.services {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color,#2E2F42);
}

.applications {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-color,#434455);
}
         .visually-hidden {
             position: absolute;
             width: 1px;
             height: 1px;
             margin: -1px;
             border: 0;
             padding: 0;
             white-space: nowrap;
             clip-path: inset(100%);
             clip: rect(0 0 0 0);
             overflow: hidden;
         }

